@model IEnumerable<BeautySalonDomain.Model.EmployeeService>

@{
    ViewData["Title"] = "Послуги працівника";
}

<h1>Послуги які надає @ViewBag.EmployeeName</h1>


<table class="table">
    <thead>
        <tr class="table-titles">
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Services.Name)
            </th>
            <th>
                <a class="btn btn-outline-primary" asp-action="Create">Додати нову послугу для працівника @ViewBag.EmployeeName</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.Services.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Services.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Services" asp-route-id="@item.ServicesId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
