@model IEnumerable<BeautySalonDomain.Model.Service>

@{
    ViewData["Title"] = "Послуги доступні у категорії";
}

<h1>Послуги доступні у категорії «@ViewBag.TypeServiceName»</h1>

<table class="table">
    <thead>
        <tr class="table-titles">
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Description)
            </th >
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.TypeService)
            </th>
            <th>
                @Html.ActionLink("Додати нову послугу", "Create", new { typeServiceId = ViewBag.TypeServiceId }, new { @class = "btn btn-outline-primary" })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeService.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
