@model BeautySalonDomain.Model.Reservation

@{
    ViewData["Title"] = "Видалення бронювання";
}

<h1>Видалення бронювання</h1>

<h3>Ви впевнені що ви хочете видалити цю бронь?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clients.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedules.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Services.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> 
        <a class ="btn" asp-action="Index">Відмінити</a>
    </form>
</div>
