@model IEnumerable<BeautySalonDomain.Model.Reservation>

@{
    ViewData["Title"] = "Бронювання";
}

<h1>Бронювання</h1>

<table class="table">
    <thead>
        <tr class="table-titles">
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Clients)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Schedules)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                <a class="btn btn-outline-primary" asp-action="Create">Створити бронювання</a>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedules.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Services.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
