@model BeautySalonDomain.Model.Client

@{
    ViewData["Title"] = "Деталі про клієнта";
}

<h1>Деталі про клієнта</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Phone))
            {
                <text>(@Model.Phone.Substring(3, 3)) @Model.Phone.Substring(6, 3)-@Model.Phone.Substring(9, 2)-@Model.Phone.Substring(11)</text>
            }
        </dd>

        <dt class = "col-sm-2">
                Дата народження
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>



<h2>Бронювання клієнта</h2>
<hr />

@if (Model.Reservations.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th class="table-name">Послуга</th>
                <th class="table-name">Початок</th>
                <th class="table-name">Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.Services.Name</td>
                    <td>@reservation.Schedules.StartTime</td>
                    <td>@reservation.Schedules.Date.ToString("dd.MM.yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Цей клієнт ще не зробив жодного бронювання.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати дані клієнта</a>
    <a asp-action="Index">Назад</a>
</div>
